TAG=latest
BEDROCK_PORT=19132
JAVA_PORT=25565
TIMEZONE=Europe/London
VERSION=LATEST
SERVER_NAME=MyServer
MOTD="A Paper Minecraft Server powered by Docker"
MAX_PLAYERS=20
SEED=0
DIFFICULTY=easy
MODE=survival
ONLINE_MODE=TRUE
ENFORCE_WHITELIST=FALSE
WHITELIST=
ENABLE_AUTOPAUSE=FALSE
SPAWN_PROTECTION=16
PVP=TRUE
INIT_MEMORY=1G
MAX_MEMORY=1G
